*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    background: #fff;
    font-family: 'Arimo', sans-serif;
}

.parent{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 0;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

  .logo img{
    width: 32px;
    height: 32px;
}

.logo h2{
    margin: 0;
    font-size:20px;
    font-weight:700;
    line-height:22px;
    letter-spacing: -0.6px;
    color: #0D1B2A;
}

ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #575757;
    font-size: 16px;
    
}


.btn{
    width: 188px;
    height: 48px;
    padding: 12px;
    background: #1D4ED8;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight:600;
}
header{
    background: linear-gradient(180deg, rgba(13,27,42,0.3) 0%, rgba(13,27,42,0.7) 100%), linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 100%), url("./image/banner.jpg");
    height:90vh;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:grid;
    align-items:center;
    text-align:center;
    
   
}
.banner{
 color:white;
 display:grid;
 gap:16px;
 font-family: 'Inter', sans-serif;
 
} 

.banner h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -3.2px;

}

.itali{
    font-style:italic;
    font-weight:700;
}
.btn1{
    width: 188px;
    height: 48px;
    margin:0 auto;
    padding: 12px;
    background: #1D4ED8;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight:600;
    position:relative;
    top:100px;
}
.heading  {
    color:#000102;
    text-align: center;
    font-style:bold;
    font-size:27px;
    
    margin:45px;
    font-family: 'Inter', sans-serif;
}
  .card-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:24px;
    max-width:1200px;
    gap:32px;
    margin:0 auto;
    font-family: 'Inter', sans-serif;
    padding:0 50px;
    
}
.making{
    width:100%;
    border:1px solid #E5E7EB;
    border-radius:12px;
    overflow:hidden;
    background:#fff;
    
}

 .making img{
    width:100%;
    height:290px;
    object-fit:cover;
    
}
 .content{
    padding: 24px;
}

.category{
    color:#2563EB;
    font-size:12px;
    font-weight:600;
    margin-bottom:12px;
}

.content h3{
    margin-bottom:12px;
    font-weight:700;
    font-size:20px;
    line-height: 27.5px;

}

.dis{
    color:#575757;
    font-weight:400px;
    font-size:14px;
}