*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* navbar start */

.container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    max-width:1200px;
    margin:0 auto;
}
nav{
     font-family: 'Arimo', sans-serif;
    background-color:#FFFFFF;
    padding:20px 0;
    
}
.logo{
    display:flex;
    align-items:center;
    gap:8px;
}
.icon img{
    width: 32px;
    height: 32px;
}
.logo-text h3{
    font-weight:700;
    font-size:20px;
}
.logo-text p{
font-weight:700;
    font-size:20px;
}
.menu{
    list-style: none;
    display:flex;
    gap:24px; 
}
.menu li a{
    text-decoration: none;
    color:#575757;
    font-weight:400;
    font-size:16px;
}
.btn{
padding:14px 28px;
border-radius:10px;
border:none;
background-color:#1D4ED8;
color:#FFFFFF;
font-weight:700;
font-size:16px;
}
/* nav bar and */


/* header start */
header{
 background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('./image/banner.jpg');
    height:90vh;
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
   padding:20px;
}
.banner-section{
    text-align: center;
     font-family: 'Inter', sans-serif;

   
}
.btn1{
padding:14px 28px;
border-radius:10px;
border:none;
background-color:#1D4ED8;
color:#FFFFFF;
font-weight:700;
font-size:16px;
margin-top:250px;
}
.banner-section h1{
    color:white;
    padding:12px;
    font-weight:700;
    font-size:45px;
    
}
.italiyan{
    font-style: italic;
}
.banner-section p{
    color:#FFFFFF;
}
/* header end */

/* main section start */
.speakers-container{
   
    max-width: 1200px;
    margin: 0px auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.speaker-card{
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    overflow: hidden;
}

.speaker-card img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}

.speaker-content{
    padding: 24px;
}

.category{
    color:#2563EB;
    font-size: 12px;
    font-weight:600;
}

.speaker-content h3{
    font-family: 'Inter', sans-serif;
    font-weight:600;
    font-size: 20px;
    margin: 12px 0;
    color:#0D1B2A;
}

.speaker-content p{
    color: #575757;
    font-weight:400px;
    font-size:14px;
}
.middle{
      font-family: 'Inter', sans-serif;
    text-align: center;
    padding:45px;
  
}
/* main section start */

 /* card section start */
.pricing-container{
    max-width: 1200px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding:45px 45px;
}

.pricing-card{
    background:#F8F9FB;
    color: white;
    padding: 30px;
    border:2px solid #E5E7EB;
    border-radius: 16px;
}

.plan{
    color: #888888;
    font-size: 14px;
    font-weight: 700;
}

.pricing-card h2{
    color:#0D1B2A;
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    margin-top: 10px;
}

.price-text{
    color: #888888;
    margin-top: 5px;
}

.pricing-card ul{
    list-style: none;
    margin: 35px 0;
}

.pricing-card ul li{
    margin-bottom: 18px;
    color: #333333;
}

.pricing-card ul li::before{
    content: "•";
    color: #3b82f6;
    margin-right: 10px;
}


.card-head{
    font-family: 'Inter', sans-serif;
    margin-top:60px;
    text-align: center;
    
}
.card-head h2{
padding:12px;
font-weight:700;
font-size:30px;
color:#0D1B2A;
}

.card-head p{
padding:24px;
font-weight:400;
font-size:16px;
color:#575757;

}
/* batton style */
.get{
width:100%;
padding:14px 28px;
border-radius:10px;
border:2px solid #2563EB;
color:#2563EB;
font-weight:600;
font-style:14px;
margin-top:50px;
}
.contact{
    width:100%;
    padding:14px 28px;
    border-radius:10px;
    border:2px solid #0D1B2A;
    font-weight:600;
   font-style:14px;
   
}
 .max{
    background-color: #0D1B2A;
    border:2px solid #0D1B2A;
    border-radius:10px;
    color:#FFFFFF;
} 
 .pro{
    width:100%;
    padding:14px 28px;
    border:none;
    border-radius:10px;
    background-color: #2563EB;
    font-weight:600;
    font-style:14px;
    margin-top:90px;
 }
  .pricing-card  .read{
    color:#FFFFFF;
 }
 .price{
color:#FFFFFF;
opacity: 50%;
font-weight:400;
font-size:13px;
 }
 .max .plan{
    color: #ffffff;
    opacity: 50%;
}

.max ul li{
    color: #ffffff;
    opacity: 50%;
}

.max .price{
    color: rgba(255,255,255,0.7);
    opacity: 50%;
}
/* card section end*/


/* FaQ section  start*/
.faq-section{
    max-width: 1200px;
    margin: 120px auto;
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
}

.faq-header{
    text-align: center;
    margin-bottom: 60px;
}

.faq-header h2{
    font-size: 48px;
    font-weight: 700;
    color: #0D1B2A;
    margin-bottom: 16px;
}

.faq-header p{
    font-size: 16px;
    color: #575757;
}

.faq-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.faq-item{
    background: #F8F9FB;
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    padding: 30px;
    transition: 0.3s;
}



.faq-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #0D1B2A;
    margin-bottom: 14px;
}

.faq-item p{
    font-size: 15px;
    line-height: 1.7;
    color: #575757;
}
/* FaQ section  end*/

/* footr start */
footer{
    background: #0D1B2A;
    padding: 5px 0;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin-bottom: 12px;
    
}

.footer-logo img{
    width: 35px;
    height: 35px;
}

.footer-logo h3{
    font-size: 18px;
}

.footer-logo p{
    font-size: 14px;
}

.copyright{
    color: #94A3B8;
    font-size: 14px;
}

.footer-right{
    text-align: right;
}

.social-icons{
    margin-bottom: 15px;
}

.social-icons a{
    color: white;
    font-size: 20px;
    margin-left: 18px;
    text-decoration: none;
    transition: .3s;
}

.footer-links{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.footer-links a{
    text-decoration: none;
    color: #94A3B8;
    font-size: 14px;
}

/* footr end */





 